.sidenav {
    width: 140px;
    position: fixed;
    z-index: 1;
    top: 200px;
    left: 50px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
  }
  
  .sidenav a:hover {
    color: #064579;
  }
  
  .main {
    margin-left: 230px; /* Same width as the sidebar + left position in px */
    margin-right: 50px;
    margin-top: 75px;
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    background-color: white;
  }