.info-item {
  font-size: 1rem;
  text-align: center;
}
.order-list-item {
  height: 40%;
  position: relative;
  top: 40px;
  left: 40px;
}

.order-list-title {
  position: relative;
  background-color: #fff;
  height: 10%;
  font-size: 2rem;
  color: black;
  text-align: center;
}

.order-info-container {
  background-color: #fff;
  position: relative;

  width: 100%;
}

.order-review-button {
  border-radius: 20px;
  border: 1px solid #535050;
  background-color: #e69328;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  transition: transform 80ms ease-in;
}

.order-review-btn:active {
  transform: scale(0.95);
}

.order-review-btn:focus {
  outline: none;
}

.order-review-btn.ghost {
  background-color: transparent;
  border-color: #ffffff;
  margin: 10px;
}

.scroll-container {
  position: relative;
  top: 0%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // padding: 0 50px;
  height: 80%;
  width: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  width: 100vw;
  // height: 78vh;
  height: 100%;
}

.review-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 1.5s ease-in-out;
}

.order-detail-container {
  position: relative;
  left: 0px;
  top: 0px;
  margin: 0;
  font-size: 25px;
  color: #15181b;
  // text-transform: uppercase;
  width: 100%;
  text-align: center;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .order-detail-container {
  transform: translateX(100%);
  width: 50%;
}

.order-list-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .order-list-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 1.5s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #f0a13a;
  background: -webkit-linear-gradient(to right, #eb801b, #f3cb47);
  background-image: url(../../images/logoR.jpg);
  // background: linear-gradient(to right, #eb801b, #f3cb47);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 1.2s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 1.5s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
  .finish-order-nav-bar {
    position: relative;
    top: 15%;
  }
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}
