.register-container {
  min-width: 1000px;
  height: 900px;

  .forget-wrapper {
    border-radius: 3px;
    box-shadow: 5px 5px 5px 5px rgb(105, 100, 100);

    background-image: linear-gradient(
      to top,
      rgba(226, 221, 150, 0.925),
      rgb(223, 165, 90)
    );

    width: 40%;
    height: 50%;
    top: 10%;
    left: 30%;
    padding: 0px 0px 0px 0px;
    position: relative;

    .register-box {
      width: 100%;
      height: 100%;
      position: absolute;
      align-items: center;
      justify-content: center;

      .title-container {
        width: 100%;
        height: 20%;
        position: relative;

        .title {
          position: absolute;
          font-size: 45px;
          bottom: 3vh;
          font-weight: bold;
          color: black;
        }
      }

      .field-container {
        width: 100%;
        height: 45%;

        .forget-field {
          padding: 30px;
          width: 50%;
          margin-left: 25%;
          .label {
            color: black;
          }
          .control {
            height: 70px;
          }
        }
      }

      .footer-container {
        width: 100%;
        height: 25%;
        font-weight: bold;
        color: black;
        .forget-button {
          position: relative;

          border-radius: 16px;
          padding: 1px 2px;
          background: #e4ff3e;
          color: black;
          border: 1px solid #b1b8b1;
          width: 120px;
          font-size: 16px;
          font-weight: bold;
          transition-duration: 0.4s;
        }

        .forget-button:hover {
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
            0 17px 50px 0 rgba(0, 0, 0, 0.19);
          background-color: orange; /* Green */
          color: black;
        }
      }
    }
  }
}
.forget-password {
  text-align: center;
}

.footer-container {
  width: 100%;
  height: 30%;
  padding-top: 2%;
  font-weight: bold;
  color: black;

  .footer-middle {
    padding-top: 12px;
  }
}

@import "bulma/bulma.sass";
