.register-container {
  min-width: 1000px;
  height: 700px;

  .register-wrapper {
    border-radius: 3px;
    box-shadow: 5px 5px 5px 5px rgb(105, 100, 100);

    background-image: linear-gradient(
      to top,
      rgba(245, 238, 238, 0.925),
      rgb(29, 33, 223)
    );

    width: 40%;
    height: 80%;
    top: 10%;
    left: 30%;
    padding: 0px 0px 0px 0px;
    position: relative;

    .register-box {
      width: 100%;
      height: 100%;
      position: absolute;
      align-items: center;
      justify-content: center;

      .title-container {
        width: 100%;
        height: 20%;
        position: relative;

        .title {
          position: absolute;
          font-size: 45px;
          bottom: 3vh;
          font-weight: bold;
          color: black;
        }
      }

      .field-container {
        width: 100%;
        height: 55%;

        .field {
          width: 50%;
          margin-left: 25%;
          .label {
            color: black;
          }
          .control {
            height: 57px;
          }
        }
      }

      .footer-container {
        width: 100%;
        height: 25%;
        font-weight: bold;
        color: black;

        .checkbox-container {
          margin-left: 24%;
          margin-bottom: 0px;
          .checkbox-title {
            width: 100px;
          }
        }

        #checkbox-warn {
          visibility: hidden;
          margin-bottom: 15px;
        }
      }
    }
  }
}

@import "bulma/bulma.sass";
