.home-button-container {
  background-color: #22344e;
}
.navbar {
  background-color: #22344e;
}

.rec-carousel-item {
  height: 80%;
}

.rec-item-wrapper {
  height: 100%;
}

.advertisement .ad-image {
  margin-top: 3%;
}

.home-page-slick {
  margin-left: 1vw;
}
