.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: scroll;
}

.allproducts-container {
  height: 100vh;
}

.allproducts-control {
  height: 100vh;
}

.filter-container {
  background-image: linear-gradient(
    to left,
    rgba(233, 179, 80, 0.925),
    rgb(219, 132, 19)
  );
}
