.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: scroll;
}

.allproducts-container {
  height: 100vh;
}

.allproducts-control {
  height: 100vh;
}

.filter-container {
  font-size: 3rem;
  color: rgb(26, 25, 25);
  background-image: linear-gradient(
    to top,
    rgba(226, 221, 150, 0.925),
    rgb(223, 165, 90)
  );
}
