.nav-link {
  color: #f19509;
}

.add-cart-icon {
  width: 30px;
  height: 30px;
}

.product-card {
  width: 16rem;
}

.box {
  margin: 20px;
  padding: 0.5rem;
}

.product-image {
  width: 70%;
  height: 150px;
  margin-left: 15%;
}
.product-detail {
  text-align: center;
}
