.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: scroll;
}

.search-result-container {
  height: 100vh;
}

.search-result-control {
  height: 100vh;
}

.no-search-result-control {
  font-size: 3rem;
  text-align: center;
  padding-top: 7rem;
}

.catagory-container {
  background-image: linear-gradient(
    to left,
    rgba(245, 220, 109, 0.925),
    rgb(214, 106, 33)
  );
  height: 100vh;
}
